/bin/
/logs/
/data/mechfiles/units.cache
/data/mechfiles/customs/
/savegames/
/mmconf/clientsettings.xml
/mmconf/gameoptions.xml
/mmconf/megameklab.properties
/mmconf/mekhq.properties
/campaigns/*.cpnx
/*.mul
/.settings/
/classes
MekHQ.jar
/*.zip
/*.tar.gz
/*.tar.bz2
/*.blame
