/bin/
/logs/
/data/mechfiles/units.cache
/data/mechfiles/customs/
/savegames/
/mmconf/clientsettings.xml
/mmconf/gameoptions.xml
/mmconf/megameklab.properties
/mmconf/mekhq.properties
/campaigns/*.cpnx
/*.mul
