# These are all in alphabetical file system display order
/.gradle/
/.idea/
/.recommenders/
/.settings/
/bin/
/build/
/logs/
/MekHQ/.gradle/
/MekHQ/.idea/
/MekHQ/.settings/
/MekHQ/bin/
/MekHQ/build/
/MekHQ/campaigns/
!/MekHQ/campaigns/Fist and Falcon/
!/MekHQ/campaigns/Sword and Dragon/
!/MekHQ/campaigns/Wolf and Blake/
/MekHQ/classes/
/MekHQ/data/images/awards/
!/MekHQ/data/images/awards/standard/
/MekHQ/data/images/temp/
/MekHQ/data/mekfiles/units.cache
/MekHQ/data/mekfiles/customs/
/MekHQ/data/universe/awards/
!/MekHQ/data/universe/awards/standard.xml
/MekHQ/logs/
/MekHQ/mmconf/clientsettings.xml
/MekHQ/mmconf/gameoptions.xml
/MekHQ/mmconf/*.preferences
/MekHQ/mmconf/*.properties
/MekHQ/out/
/MekHQ/pkgdir/
/MekHQ/savegames/
/MekHQ/userdata/**
!/MekHQ/userdata/README.md
!/MekHQ/userdata/data/
/MekHQ/userdata/data/**
!/MekHQ/userdata/data/universe/
/MekHQ/userdata/data/universe/**
!/MekHQ/userdata/data/universe/financialInstitutions.xml
!/MekHQ/userdata/data/universe/ranks.xml
/MekHQ/.classpath
/MekHQ/.editorconfig
/MekHQ/.project
/MekHQ/MekHQ.iml
/MekHQ/MekHQ.jar
/MekHQ/*.mul
/MekHQ/*.zip
/MekHQ/*.tar.gz
/MekHQ/*.tar.bz2
/MekHQ/*.blame
/out/
/RemoteSystemsTempFiles/
/tmp/
/.classpath
/.metadata
/.project
/.vscode
/properties_local.gradle
/settings_local.gradle
/*.sav.gz
.DS_Store

MegaMek.l4j.ini
MegaMekLab.l4j.ini
MekHQ.l4j.ini

mhq-revision.txt

/MekHQ/docs/OfficialUnitList.txt
