/.metadata
/.recommenders/
/RemoteSystemsTempFiles/
/bin/
/.settings/
/logs/
.DS_Store
MekHQ/MekHQ.iml

# Build directories
MekHQ/pkgdir
/build/

# IDE directories
MekHQ/.idea/
/out/
/.vscode
/.gradle/
/settings_local.gradle
/.classpath
/.project
/properties_local.gradle

MekHQ/out/
