name: MekHQ CI with Code Coverage

on:
  push:
    branches: [ main ]

env:
  GRADLE_OPTS: "-Dscan.link.VCS=https://github.com/MegaMek/mekhq/commit/${{ github.sha }}"

jobs:
  code_coverage:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-distribution: [ temurin ]
        java-version: [ 17, 21 ]
      fail-fast: false

    steps:
      - name: Checkout Data Repo
        uses: actions/checkout@v5
        with:
          repository: megamek/mm-data
          path: mm-data

      - uses: actions/checkout@v5
        with:
          path: mekhq

      - name: Checkout MegaMek
        uses: actions/checkout@v5
        with:
          repository: MegaMek/megamek
          path: megamek

      - name: Checkout MegaMekLab
        uses: actions/checkout@v5
        with:
          repository: MegaMek/megameklab
          path: megameklab

      - name: Set up ${{ matrix.java-distribution }} JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Build with Gradle
        working-directory: mekhq
        run: ./gradlew test

      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cd-failure-logs
          path: ./mekhq/MekHQ/build/reports/

      - name: CodeCov.io Coverage Report
        uses: codecov/codecov-action@v5
        with:
          directory: ./mekhq/MekHQ/build/reports/jacoco/test
          fail_ci_if_error: false
          verbose: true
